*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'roboto', sans-serif;
    margin: 0;
    background-color: rgb(196, 241, 226);
}
h1{font-size: 3.5em; 
    color: rgb(135, 61, 205);
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
h2{font-size: 3.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}
a{text-decoration: none;}

#contenedor{
    height: 95vh;
    overflow: hidden;
}
.carrusel{
    height: 100%;
    position: relative;
}
.tarjeta-carrusel-1{
    height: 100%;

}
.tarjeta-carrusel-2{
        height: 100%;
}
.tarjeta-carrusel-3{
    height: 100%;
    overflow: hidden;
}
.tarjeta-carrusel-4{
    height: 100%;
}
.tarjeta-carrusel-5{
    height: 100%;
}
#carru-exp1{
    height: 50%;
    overflow: hidden;
}
#carru-exp2{
    height: 100%;
    overflow: hidden;
}

#carru-exp3{
    height: 100%;
    overflow: hidden;
}
.tarcarrusel-1{
    height: 50%;
}
.tarcarrusel-2{
    height: 50%;
}

.tarcarrusel-3{
    height: 50%;
}
.flechas{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.container{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color: rgb(100, 162, 232);
}
header .container{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;}

header nav{
    display: flex;
    flex-direction: initial;
    text-align: center;
    padding: 25px;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(30, 30,30) ;
    color: wheat;
    
    
}
#estudios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    
}
#estudios .container{
    text-align: center;
    height: 100%;
    width: 100%;
}
#experiencia-laboral{
    background-color: rgb(30, 30,30) ;
    color: wheat;
    text-align: center;
    padding: 25px;
}
#experiencia-laboral .carta{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
}
#experiencia-laboral .container{
    height: 100%;
    width: 100%;    
}
#experiencia-laboral h2{
    margin-top: 0px;
}
#experiencia-laboral p{
    display: block;
    text-align: center;
    margin-top: 0px;
}
#contactos{
    display: flex;
    justify-content: right;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: wheat;
   position: relative;
    
}
#contactos .container{
    text-align: center;
    height: 100%;
    width: 100%;
}
#contactos a{
     color: wheat;
}
#contactos a:hover{
    color: blueviolet;
}
#contactos li{
    margin: 15px 0px;
    font-weight: bold;
}

#cursos{
    
    color: rgb(0, 0, 0);
    text-align: center;
}
#cursos .container{
    height: 100%;
    width: 100%;
}
#cursos h2{
    margin-top: 0px;
}
#cursos p{
    display: block;
    text-align: center;
    margin-top: 0px;
}
#conocimientos{
    color: black;
    text-align: center;
}
#conocimientos .container{
    height: 100%;
    width: 100%;
}
#conocimientos h2{
    margin-top: 0px;
}
#conocimientos p{
    display: block;
    text-align: center;
    margin-top: 0px;
}
#conocimientos li{
    margin: 15px 0px;
    font-weight: bold;

}

footer{
    background-color: rgb(230, 230, 230);
}
footer p{
    margin:0;
    padding: 5px;
    color: rgb(100, 100, 100);
}
footer .container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#home img{
    width: 4%;
    position: fixed;
    z-index: 1;
    transform: translate(50%);
    bottom: 0px;
    right: 3%;
}
@media (min-widht:720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0px;
        padding-right: 20px;
    }





}

